*.class

# Package Files #
*.war
*.ear

build/
lib/
dist/
manifest.mf
test/com/phaxio/test/Playarea.java
test/key.json
/nbproject/private/private.properties
/nbproject/build-impl.xml
/nbproject/project.properties
/nbproject/genfiles.properties
/nbbuild.xml
/phaxio-java.iml
